body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator{
    border: 1px solid black;
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color:lightcoral;
    border-radius: 12px;
}

.header{
    width: 100%;
    height: 5vh;
    margin-bottom: 15px;
    display: flex;
    
    align-items: center;
}

.keyboard{
    border: 1px solid blue;
    margin: 20px;
    padding: 10px;
    background-color:white;
    
    
}

#result{
    height: 20vh;
    margin-bottom: 0px;
    border: 1px solid blue;
    margin: 20px;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    background-color:white;
    
}

.keyboard{
    height: 70vh;
    display: flex;
    flex-direction: column;
    
    
}

.btn{
    background-color: black;
    height: 100%;
    width: 6vw;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    
    
}


.row1,.row2,.row3,.row4,.row0{
    flex: 1;
    /* border: 1px solid red; */
    
    display: flex;
    justify-content: space-between;
    

}

.row1,.row2,.row3,.row0{
    margin-bottom: 10px;
   
    
}

.row0{
    font-size: 36px;
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    background-color: grey;
    color: whitesmoke;
}