body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator{
    border: 1px solid black;
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color:lightcoral;
    border-radius: 12px;
}

.header{
    width: 100%;
    height: 5vh;
    margin-bottom: 15px;
    display: flex;
    
    align-items: center;
}

.result,.keyboard{
    border: 1px solid blue;
    margin: 20px;
    padding: 10px;
    background-color:white;
    
    
}

.result{
    height: 20vh;
    margin-bottom: 0px;
}

.keyboard{
    height: 60vh;
    display: flex;
    flex-direction: column;
    
    
}

.btn{
    background-color: black;
    height: 100%;
    width: 6vw;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    
    
}

.row1,.row2,.row3,.row4{
    flex: 1;
    
    
    display: flex;
    justify-content: space-between;
    

}

.row1,.row2,.row3{
    margin-bottom: 10px;
   
    
}